Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

add smock wallet to defi-wonderland.yaml
  data/projects/d/defi-wonderland.yaml
Due: prettier --write

fix: smock & defi-wonderland
  data/collections/op-rpgf2.yaml
  data/collections/optimism.yaml
  data/projects/s/smock-defi-wonderland.yaml
Due: prettier --write

fix: smock & defi-wonderland (#161)
  data/collections/op-rpgf2.yaml
  data/collections/optimism.yaml
  data/projects/s/smock-defi-wonderland.yaml
Due: prettier --write

chore: update readme
  data/projects/readme.md
Due: prettier --write

add: indexed.xyz by Goldsky
  data/collections/op-rpgf3-deveco.yaml
  data/collections/op-rpgf3.yaml
  data/projects/i/indexed-xyz.yaml
Due: prettier --write

add: indexed.xyz project (#157)
  data/collections/op-rpgf3-deveco.yaml
  data/collections/op-rpgf3.yaml
  data/projects/i/indexed-xyz.yaml
  data/projects/readme.md
Due: prettier --write

rename to Revm
  data/projects/r/revm-bluealloy.yaml
Due: prettier --write

fix: update repo links
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

chore: run summary stats
  data/projects/readme.md
Due: prettier --write

Update/stats (#162)
  data/projects/readme.md
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

def-wonderfland
  data/projects/d/defi-wonderland.yaml
Due: prettier --write

agora contract
  data/collections/op-onchain.yaml
  data/projects/v/voteagora.yaml
Due: prettier --write

fix build
  .github/workflows/ci-default.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix build (#165)
  .github/workflows/ci-default.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: remaining RPGF3 additions (#164)
  data/collections/op-onchain.yaml
  data/projects/d/defi-wonderland.yaml
  data/projects/v/voteagora.yaml
Due: prettier --write

revem
  data/projects/r/revm-bluealloy.yaml
Due: prettier --write

fix: revm naming (#166)
  data/projects/r/revm-bluealloy.yaml
Due: prettier --write

add: updated schema enums
  src/resources/schema/blockchain-address.json
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

add: updated schema enums (#167)
  src/resources/schema/blockchain-address.json
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

test: arb address
  data/projects/o/opensource-observer.yaml
Due: prettier --write

test: arb address (#168)
  data/projects/o/opensource-observer.yaml
Due: prettier --write

bump to 0.0.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bump to 0.0.7 (#169)
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: map artifacts script
  src/scripts/map-artifacts.py
Due: none

fix: rename
  src/scripts/map_artifacts.py
Due: none

refactor: separate yaml dumper
  src/scripts/write_yaml.py
Due: none

update gitignore
  .gitignore
Due: none

refactor: add-project
  src/scripts/add-project.py
Due: none

refactor cleanup
  src/scripts/add-project.py
  src/scripts/map-artifacts.py
Due: none

refactor: modules to add projects by CSV and CLI (#177)
  .gitignore
  src/scripts/add-project.py
  src/scripts/map_artifacts.py
  src/scripts/write_yaml.py
Due: none

TOML processing implimented
  data/collections/arbitrum.yaml
  data/collections/changes_made.txt
  data/projects/a/aave.yaml
  data/projects/a/abracadabra.yaml
  data/projects/a/aelin.yaml
  data/projects/c/chainlink.yaml
  data/projects/c/curve.yaml
  data/projects/n/nftearth.yaml
  data/projects/s/superfluid.yaml
  data/projects/t/thales.yaml
  data/projects/u/umbra.yaml
  data/projects/u/uniswap.yaml
  data/projects/v/volmex.yaml
  data/projects/w/wormhole.yaml
  src/scripts/add-project.py
  src/scripts/toml_adder.py
Due: prettier --write

Hotfix
  data/collections/changes_made.txt
Due: none

Yaml tabbing fixed!
  changes_made.txt
  data/collections/arbitrum.yaml
  data/projects/a/aave.yaml
  data/projects/a/abracadabra.yaml
  data/projects/a/aelin.yaml
  data/projects/c/chainlink.yaml
  data/projects/c/curve.yaml
  data/projects/n/nftearth.yaml
  data/projects/s/superfluid.yaml
  data/projects/t/thales.yaml
  data/projects/u/umbra.yaml
  data/projects/u/uniswap.yaml
  data/projects/v/volmex.yaml
  data/projects/w/wormhole.yaml
  src/scripts/toml_adder.py
Due: prettier --write

feat: auto-categorize deployer and factory addresses
  src/scripts/trace_contracts.py
Due: none

fix: update name and dependencies
  src/scripts/add_project.py
Due: none

feat: update project YAML addresses from JSON
  src/scripts/update_project.py
Due: none

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json,yaml,yml})
