Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

Adding boilerplate (#1)
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  README.md
  jest.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --write

feat: JSON schema validator for project / collection files
  .eslintrc.json
  package.json
  src/index.ts
  src/resources/schema/blockchain-address.json
  src/resources/schema/collection.json
  src/resources/schema/project.json
  src/resources/schema/url.json
  src/types/blockchain-address.d.ts
  src/types/collection.d.ts
  src/types/project.d.ts
  src/types/url.d.ts
  src/util/common.ts
  src/util/error.ts
  src/validator/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --write

feat: JSON schema validator for project / collection files (#2)
  .eslintrc.json
  package.json
  src/index.ts
  src/resources/schema/blockchain-address.json
  src/resources/schema/collection.json
  src/resources/schema/project.json
  src/resources/schema/url.json
  src/types/blockchain-address.d.ts
  src/types/collection.d.ts
  src/types/project.d.ts
  src/types/url.d.ts
  src/util/common.ts
  src/util/error.ts
  src/validator/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --write

feat: add GitHub actions CI flow
  .github/workflows/ci-default.yml
  package.json
  src/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: add GitHub actions CI flow (#3)
  .github/workflows/ci-default.yml
  package.json
  src/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: fetchData
  README.md
  package.json
  pnpm-lock.yaml
  src/fetchData.ts
  src/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: fetchData (#10)
  README.md
  package.json
  pnpm-lock.yaml
  src/fetchData.ts
  src/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: validate collections now also checks if each project slug exists
  src/actions/validate.ts
  src/scripts/decouple-optimism-json.ts
  src/utils/format.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: validate collections now also checks if each project slug exists (#12)
  src/actions/validate.ts
  src/scripts/decouple-optimism-json.ts
  src/utils/format.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: properly export types
  package.json
  src/index.ts
  src/types/blockchain-address.ts
  src/types/collection.ts
  src/types/project.ts
  src/types/url.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: properly export types (#16)
  package.json
  src/index.ts
  src/types/blockchain-address.ts
  src/types/collection.ts
  src/types/project.ts
  src/types/url.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: attestation script
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: update dependencies
  package.json
Due: prettier --write

fix: rem oss directory from package
  package.json
Due: prettier --write

fix: package-lock
  package-lock.json
Due: prettier --write

fix: use pnpm
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

fix: use pnpm (#22)
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

fix: just some minor cleanup
  src/scripts/optimism-attestation.ts
  src/utils/common.ts
  src/utils/error.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: just some minor cleanup (#23)
  src/scripts/optimism-attestation.ts
  src/utils/common.ts
  src/utils/error.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: add optimism schema uid
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: progress logging
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: suppress regex github url validation
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: gas limit and corrected testnet address
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: attestation script (#20)
  package.json
  pnpm-lock.yaml
  src/scripts/optimism-attestation.ts
  src/utils/common.ts
  src/utils/error.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: update gitignore
  .gitignore
Due: none

feat: update readme
  README.md
Due: prettier --write

Update docs for ETH Global submission (#24)
  .gitignore
  README.md
Due: prettier --write

feat: summarize project stats
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: create current directory snapshot
  data/projects/readme.md
Due: prettier --write

fix: update paths
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: rerun snapshot
  data/projects/readme.md
Due: prettier --write

fix: correct urls
  data/projects/readme.md
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

Add summary stats for all projects in the directory (#25)
  data/projects/readme.md
  src/scripts/summarize.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: correct OP attestation address
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: correct OP attestation address (#26)
  src/scripts/optimism-attestation.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: updates to sound.xyz and safe yamls
  data/projects/g/gnosis-safe.yaml
  data/projects/s/sound-xyz.yaml
Due: none

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json})
