Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore",
    "prettier --write"
  ],
  "**/*.{md,json,yaml,yml}": ["prettier --write"]
}

fix: remove duplicate deployers
  data/projects/c/camelotlabs.yaml
  data/projects/d/dforce-network.yaml
  data/projects/g/gammastrategies.yaml
  data/projects/w/woonetwork.yaml
Due: prettier --write

fix: sorted tags and networks
  src/scripts/update_project.py
Due: none

fix: ignore beacon factory proxy contracts
  src/scripts/update_project.py
Due: none

add: remaining stip deployers
  data/projects/d/dopex-io.yaml
  data/projects/j/jones-dao.yaml
  data/projects/m/magpiexyz.yaml
Due: prettier --write

fix: dopex plutus dupe
  data/projects/d/dopex-io.yaml
Due: prettier --write

update: arb onchain collection
  data/collections/arb-onchain.yaml
Due: prettier --write

add: contracts from stip deployers
  data/projects/c/camelotlabs.yaml
  data/projects/c/cowri.yaml
  data/projects/d/dinngo.yaml
  data/projects/d/dolomite-exchange.yaml
  data/projects/d/dopex-io.yaml
  data/projects/f/fraxfinance.yaml
  data/projects/g/gainsnetwork.yaml
  data/projects/g/gammastrategies.yaml
  data/projects/g/gmx-io.yaml
  data/projects/g/goodentry-io.yaml
  data/projects/j/jojoexchange.yaml
  data/projects/j/jones-dao.yaml
  data/projects/l/lodestarfinance.yaml
  data/projects/m/magpiexyz.yaml
  data/projects/r/ramsesexchange.yaml
  data/projects/r/rodeofi.yaml
  data/projects/r/rysk-finance.yaml
  data/projects/s/stakedao.yaml
  data/projects/u/unsheth.yaml
  data/projects/v/velaexchange.yaml
  data/projects/w/winrprotocol.yaml
  data/projects/w/woonetwork.yaml
Due: prettier --write

add: perennial
  data/projects/d/dopex-io.yaml
  data/projects/e/equilibria-xyz.yaml
  data/projects/g/gmx-io.yaml
  data/projects/j/jones-dao.yaml
  data/projects/m/magpiexyz.yaml
  data/projects/s/stellaxyz.yaml
Due: prettier --write

fix: chainlink - perennial dupes
  data/projects/c/chainlink.yaml
  data/projects/d/dopex-io.yaml
  data/projects/e/equilibria-xyz.yaml
Due: prettier --write

feat: arb stip collection
  data/collections/arb-onchain.yaml
  data/collections/arb-stip-1.yaml
Due: prettier --write

add: another batch of arb projects
  data/projects/a/arbitrumexchange.yaml
  data/projects/a/arbswap-official.yaml
  data/projects/b/bunniapp.yaml
  data/projects/c/chronosex.yaml
  data/projects/d/defi-llama.yaml
  data/projects/d/dexfinance-com.yaml
  data/projects/d/dodoex.yaml
  data/projects/e/eqbtech.yaml
  data/projects/f/fortressfinance.yaml
  data/projects/h/hats-protocol.yaml
  data/projects/l/livepeer.yaml
  data/projects/m/mindgames-io.yaml
  data/projects/n/neondapp.yaml
  data/projects/o/openleveragedev.yaml
  data/projects/s/shipyard-software.yaml
  data/projects/s/stacktical.yaml
  data/projects/t/takafuldao.yaml
  data/projects/t/treasureproject.yaml
  data/projects/v/vendorfinance.yaml
  data/projects/z/zigzagexchange.yaml
Due: prettier --write

fix: remove deterministic deployers
  data/projects/t/takafuldao.yaml
  data/projects/t/timeswap-labs.yaml
Due: prettier --write

add: another batch of arb projects (#202)
  data/collections/arb-onchain.yaml
  data/projects/a/arbitrumexchange.yaml
  data/projects/a/arbswap-official.yaml
  data/projects/b/bunniapp.yaml
  data/projects/c/chronosex.yaml
  data/projects/d/defi-llama.yaml
  data/projects/d/dexfinance-com.yaml
  data/projects/d/dodoex.yaml
  data/projects/e/eqbtech.yaml
  data/projects/f/fortressfinance.yaml
  data/projects/h/hats-protocol.yaml
  data/projects/l/livepeer.yaml
  data/projects/m/mindgames-io.yaml
  data/projects/n/neondapp.yaml
  data/projects/o/openleveragedev.yaml
  data/projects/s/shipyard-software.yaml
  data/projects/s/stacktical.yaml
  data/projects/t/takafuldao.yaml
  data/projects/t/timeswap-labs.yaml
  data/projects/t/treasureproject.yaml
  data/projects/v/vendorfinance.yaml
  data/projects/z/zigzagexchange.yaml
Due: prettier --write

add: galxe contracts
  data/collections/arb-onchain.yaml
  data/projects/g/galxe.yaml
Due: prettier --write

add: galxe contracts (#204)
  data/collections/arb-onchain.yaml
  data/projects/g/galxe.yaml
Due: prettier --write

add: offchain labs
  data/collections/arbitrum-crypto-ecosystems.yaml
  data/projects/o/offchainlabs.yaml
Due: prettier --write

add: offchain labs (#205)
  data/collections/arbitrum-crypto-ecosystems.yaml
  data/projects/o/offchainlabs.yaml
Due: prettier --write

add: rabbithole factory
  data/projects/r/rabbithole.yaml
Due: prettier --write

add: rabbithole factory (#206)
  data/projects/r/rabbithole.yaml
Due: prettier --write

feat: lookup addresses of contract creator
  src/scripts/trace_contracts.py
Due: none

feat: dump names of addresses from alchemy
  src/scripts/map_artifacts.py
Due: none

fix: trace contracts returns
  src/scripts/trace_contracts.py
Due: none

feat: walk and validate addresses
  src/scripts/validate_addresses.py
Due: none

feat: checks for eoas and safe wallets
  src/scripts/trace_contracts.py
  src/scripts/validate_addresses.py
Due: none

feat: helper script to overwrite records
  src/scripts/overwrite_addresses.py
Due: none

validate addresses in oss-directory (#207)
  src/scripts/map_artifacts.py
  src/scripts/overwrite_addresses.py
  src/scripts/trace_contracts.py
  src/scripts/validate_addresses.py
Due: none

improve logging
  src/scripts/overwrite_addresses.py
Due: none

fix: type
  src/scripts/overwrite_addresses.py
Due: none

fix: diff logic
  src/scripts/overwrite_addresses.py
Due: none

fix: found logic
  src/scripts/overwrite_addresses.py
Due: none

fix: duplicate wallets for two projects
  data/projects/a/aerodrome-finance.yaml
  data/projects/u/usedapp-truefieng.yaml
Due: prettier --write

Adds branchOrCommit option to fetchData
  src/fetchData.ts
Due: eslint --ignore-path .gitignore, prettier --write

bump version
  package.json
Due: prettier --write

Add ability to fetchData of a branch or commit (#211)
  package.json
  src/fetchData.ts
Due: eslint --ignore-path .gitignore, prettier --write
