Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

fix: add metal network
  src/resources/schema/blockchain-address.json
  src/types/blockchain-address.ts
  src/types/project.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: add metal network (#277)
  src/resources/schema/blockchain-address.json
  src/types/blockchain-address.ts
  src/types/project.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: publish the latest schemas
  README.md
  package.json
  src/fetchData.ts
  src/validator/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: publish the latest schemas (#278)
  README.md
  package.json
  src/fetchData.ts
  src/validator/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

rename to match slug
  data/projects/w/w3ctag
Due: none

successfully rename to match slug
  data/projects/w/w3ctag.yaml
Due: prettier --write

Added galxe version
  data/projects/g/galxe.yaml
Due: prettier --write

add zkex version
  data/projects/z/zkex.yaml
Due: prettier --write

renamed polyhedra file
  data/projects/p/polyhedra.yaml
Due: prettier --write

fixed polyhedra-network file name
  data/projects/p/polyhedra-network.yaml
Due: prettier --write

removed duplicates
  data/projects/0/0xsplits.yaml
  data/projects/a/allbridge-io.yaml
  data/projects/n/nexter-fi.yaml
  data/projects/q/quest3.yaml
  data/projects/s/socket-dot-tech.yaml
  data/projects/u/unfettered-game.yaml
  data/projects/v/verax.yaml
Due: prettier --write

feat: add an optional list of websites to project
  src/resources/schema/project.json
Due: prettier --write

margari added
  data/projects/m/margari.yaml
Due: prettier --write

fixed across website url
  data/projects/a/across.yaml
Due: prettier --write

fixed stargate-finance website url
  data/projects/s/stargate-finance.yaml
Due: prettier --write

fixed yearn website url
  data/projects/y/yearn.yaml
Due: prettier --write

fixed yaml inconsistencies
  data/projects/d/decartography.yaml
  data/projects/e/ensaawallet.yaml
  data/projects/e/eth-brownie.yaml
  data/projects/f/fruteroclub.yaml
  data/projects/g/gemwalletcom.yaml
  data/projects/g/glitter-finance.yaml
  data/projects/g/growth-and-girders.yaml
  data/projects/i/indexed-xyz.yaml
  data/projects/k/kenlabs.yaml
  data/projects/l/luncosim.yaml
  data/projects/m/mevboostaa.yaml
  data/projects/o/opml-labs.yaml
  data/projects/o/overnight.yaml
  data/projects/p/p1m-ortho.yaml
  data/projects/t/trailofbits.yaml
Due: prettier --write

removed empty website url
  data/projects/s/solady-vectorized.yaml
Due: prettier --write

fixed empty website url
  data/projects/t/travenesia.yaml
Due: prettier --write

fixed empty urls
  data/projects/k/kzg-marble-machine-xofee.yaml
  data/projects/m/muragekibicho.yaml
Due: prettier --write

update scripts to v5
  src/scripts/add_project.py
  src/scripts/map_artifacts.py
Due: none

test with a few projects
  data/projects/0/0x-boring-security.yaml
  data/projects/b/boringsecdao.yaml
  data/projects/o/openlabelsinitiative.yaml
  data/projects/u/ucan-wg.yaml
Due: prettier --write

add: kleros project
  data/projects/k/kleros.yaml
Due: prettier --write

add: Kleros project (#283)
  data/projects/k/kleros.yaml
Due: prettier --write

add: Kleros project (#283) (#284)
  data/projects/k/kleros.yaml
Due: prettier --write

updated as per comments
  data/projects/m/margari-cryptotwilight.yaml
  data/projects/m/margari.yaml
Due: prettier --write

Add filecoin projects
  data/collections/protocol-labs-network.yaml
Due: prettier --write

add test deployers
  data/projects/r/rabbithole.yaml
  data/projects/v/velodrome.yaml
  data/projects/z/zora.yaml
Due: prettier --write

add test deployers (#286)
  data/projects/r/rabbithole.yaml
  data/projects/v/velodrome.yaml
  data/projects/z/zora.yaml
Due: prettier --write

Test oso validation conflict
  data/projects/o/opensource-observer-test.yaml
Due: prettier --write

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json,yaml,yml})
