Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

add: octant epochs 1 and 2 collections
  data/collections/octant-01.yaml
  data/collections/octant-02.yaml
  data/projects/d/dao-drops-dorgtech.yaml
  data/projects/d/drips-network.yaml
  data/projects/g/gravity-dao-archive.yaml
  data/projects/o/onion-dao.yaml
  data/projects/r/radardao-xyz.yaml
Due: prettier --write

fix: remove projects that didn't pass threshold
  data/collections/octant-02.yaml
Due: prettier --write

add: octant epochs 1 and 2 collections (#180)
  data/collections/octant-01.yaml
  data/collections/octant-02.yaml
  data/projects/d/dao-drops-dorgtech.yaml
  data/projects/d/drips-network.yaml
  data/projects/g/gravity-dao-archive.yaml
  data/projects/o/onion-dao.yaml
  data/projects/r/radardao-xyz.yaml
Due: prettier --write

Hotfix
  collection_operation_report.json
  src/scripts/toml_adder.py
Due: prettier --write

feat: toml adder
  src/scripts/toml_adder.py
Due: none

fix: a user can specify which ecosystem they want to parse
  src/scripts/toml_adder.py
Due: none

refactor: load single yaml file
  src/scripts/map_artifacts.py
Due: none

feat: update a projects github urls
  src/scripts/update_project.py
Due: none

fix: module name
  src/scripts/update_project.py
Due: none

fix: add new directories if needed
  src/scripts/add_project.py
Due: none

feat: auto-generate collection YAML
  src/scripts/add_collection.py
Due: none

refactor: toml adder
  src/scripts/toml_adder.py
Due: none

fix: handle errors in toml_adder
  src/scripts/toml_adder.py
Due: none

fix: improve cli handling
  src/scripts/toml_adder.py
Due: none

fix: remove dead listing
  data/collections/arbitrum-crypto-ecosystems.yaml
Due: prettier --write

fix: 5afe duplicat
  data/collections/arbitrum-crypto-ecosystems.yaml
Due: prettier --write

fix: balance labs deadlink
  data/collections/arbitrum-crypto-ecosystems.yaml
Due: prettier --write

fix: more dead links
  data/collections/arbitrum-crypto-ecosystems.yaml
Due: prettier --write

fix: more bugs
  data/collections/arbitrum-crypto-ecosystems.yaml
Due: prettier --write

delete: data/projects/ossd_repo_snapshot.yaml
  data/projects/ossd_repo_snapshot.yaml
Due: prettier --write

add: conduit
  data/collections/op-rpgf3.yaml
  data/collections/optimism.yaml
  data/projects/c/conduitxyz.yaml
Due: prettier --write

add: conduit (#186)
  data/collections/op-rpgf3.yaml
  data/collections/optimism.yaml
  data/projects/c/conduitxyz.yaml
Due: prettier --write

add data portal
  data/projects/g/gitcoin-grants-data-portal-davidgasquez.yaml
Due: prettier --write

add supermodular
  data/projects/s/supermodular-xyz.yaml
Due: prettier --write

Add supermodular + data portal (#187)
  data/projects/g/gitcoin-grants-data-portal-davidgasquez.yaml
  data/projects/s/supermodular-xyz.yaml
Due: prettier --write

delete some duplicate additions
  data/projects/1/1w3io.yaml
  data/projects/c/candidelabs.yaml
  data/projects/c/changedoteth.yaml
  data/projects/c/crypto-jobs-fyi.yaml
  data/projects/j/jediswaplabs.yaml
  data/projects/j/jolly-roger-eth.yaml
  data/projects/k/kalidao.yaml
  data/projects/l/lab10-coop.yaml
  data/projects/m/moonshotcollective.yaml
  data/projects/r/rabbitholegg.yaml
  data/projects/r/rigoblock.yaml
  data/projects/s/scaffold-eth.yaml
  data/projects/s/scopelift.yaml
  data/projects/t/tahowallet.yaml
  data/projects/t/talentdao.yaml
  data/projects/t/the-rollup.yaml
  data/projects/t/therollup.yaml
  data/projects/t/thunderchatapp.yaml
  data/projects/t/torproject.yaml
  data/projects/v/viaprotocol.yaml
  data/projects/z/zkonduit.yaml
Due: prettier --write

remove remaining duplicates
  data/projects/e/eth-educators.yaml
  data/projects/e/ethlimo.yaml
  data/projects/f/fiatconnect.yaml
  data/projects/g/geo-web-project.yaml
  data/projects/i/itublockchain.yaml
  data/projects/l/loansharktechteam.yaml
  data/projects/n/newdaojones.yaml
  data/projects/p/protocolguild.yaml
  data/projects/p/punk-domains-2.yaml
  data/projects/t/toknowwhy.yaml
  data/projects/t/tproofio.yaml
Due: prettier --write

fix: rename variable in append_github_urls
  src/scripts/update_project.py
Due: none

fix: tweak variable name (#189)
  src/scripts/update_project.py
Due: none

fix: minor ui and logging fixes
  src/scripts/toml_adder.py
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: minor ui and logging fixes (#190)
  src/scripts/toml_adder.py
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

chore: rebuilt to get schemas back
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

chore: rebuild to get schemas back (#192)
  src/types/blockchain-address.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: eas fetcher
  src/scripts/eas.py
Due: none

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,json,yaml,yml})
